In [1]:
import pandas as pd
import numpy as np

In [2]:
iris_df = pd.read_csv('iris.csv')

In [4]:
iris_df.head()

   Id  SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm      Species
0   1            5.1           3.5            1.4           0.2  Iris-setosa
1   2            4.9           3.0            1.4           0.2  Iris-setosa
2   3            4.7           3.2            1.3           0.2  Iris-setosa
3   4            4.6           3.1            1.5           0.2  Iris-setosa
4   5            5.0           3.6            1.4           0.2  Iris-setosa

In [5]:
iris_df.columns

Index(['Id', 'SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm',
       'Species'],
      dtype='object')

In [6]:
X = iris_df[['SepalLengthCm', 'SepalWidthCm', 'PetalLengthCm', 'PetalWidthCm']]
y = iris_df['Species']

In [7]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.25, random_state = 0)

In [8]:
from sklearn.preprocessing import StandardScaler

scaler = StandardScaler()


X_train_rescaled = pd.DataFrame(scaler.fit_transform(X_train), 
                                    columns = X_train.columns, 
                                    index = X_train.index)

X_train_rescaled.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
61        0.015440     -0.119255       0.225127      0.356382
92       -0.099845     -1.040395       0.113560     -0.028648
112       1.053005     -0.119255       0.950314      1.126441
2        -1.367980      0.341315      -1.392599     -1.312081
141       1.168290      0.111030       0.727180      1.383128

In [9]:
X_test_rescaled = pd.DataFrame(scaler.transform(X_test), 
                                   columns = X_test.columns, 
                                   index = X_test.index)

X_test_rescaled.head()

     SepalLengthCm  SepalWidthCm  PetalLengthCm  PetalWidthCm
114      -0.099845     -0.579825       0.727180      1.511471
62        0.130725     -1.961535       0.113560     -0.285335
33       -0.445700      2.644166      -1.336815     -1.312081
107       1.629430     -0.349540       1.396583      0.741412
7        -1.022125      0.801885      -1.281032     -1.312081

In [10]:
from sklearn.neighbors import KNeighborsClassifier
knn_classifier = KNeighborsClassifier()
knn_classifier.fit(X_train_rescaled, y_train)

KNeighborsClassifier()

In [11]:
y_test_pred = knn_classifier.predict(X_test_rescaled)

In [12]:
from sklearn import metrics
metrics.accuracy_score(y_test, y_test_pred)

0.9736842105263158

In [14]:
from pickle import dump

dump(scaler, open('models/standard_scaler.pkl', 'wb'))
dump(knn_classifier, open('models/knn_model.pkl', 'wb'))